@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;600&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
    font-family: 'Outfit', sans-serif;
    /* border: solid red 1px; */

}
:root{
    --dark-blue: #09204b;
    --medium-blue: #2b6194;
    --light-blue: #56CCF2;
}



.content{
    background: var(--light-blue);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #330841, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #65a7fc, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border: solid 1px #ffffff;
    color: #21539c;
    width: 290px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap:.5em;
}

.txt-title-popup{
    font-size: 1.2rem;
    text-align: center;
}

.secondary-title{
    font-size: 1rem;
    margin-bottom: .8em;
}

.info-badge{
    background-color: var(--dark-blue);
    color: #ffffff;
    padding: 1em;
    display: flex;
    gap: 2em;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.info-badge .verified-list{
    list-style: none;
    display: flex;
    gap: .5em;
    align-items: center;
}

.verified-list p{
    font-size: .7rem;
}
.info-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: .7rem;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    background-color: var(--medium-blue);
    border: 1px solid;
    border-radius: 10px;
    padding: 1em;
    font-size: .8rem;
}

.badge-color-container{
    overflow: hidden;
    align-items: center;
    display: flex;
}

.badge-color-container .bg-badge{
    padding: 5px 10px;
}

.badge-color-container .bg-badge:nth-child(1){
    border-radius: 10px 0 0 10px;
    background-color:  #192734;
}

.badge-color-container .bg-badge:nth-child(2){
    background-color: #ffffff;
    border-radius: 0 10px 10px 0;
}

.change-badge-container{
    display: flex;
    align-items: center;
    gap: 1em;
}

.color-picker{
    border: none;
    width: 20px;
    cursor: pointer;
    height: 40px;
    outline: none;
    border-radius: 50%;
    background-color: none;
    -webkit-box-shadow:  0px 1px 2px 2px #1c4058;
    -moz-box-shadow:  0px 1px 2px 2px #1c4058;
    box-shadow:  0px 1px 2px 2px #1c4058;
}
.color-picker:hover{
    -webkit-box-shadow:  0px px 3px 2px #6DB1F2;
    -moz-box-shadow:  0px 0px 3px 2px #6DB1F2;
    box-shadow:  0px 0px 3px 2px #6DB1F2;
}

.color-picker::-webkit-color-swatch{
    border-radius: 5px;
}

.pick-color-box{
    display: flex;
    align-items: center;
}

.reset-default{
    font-size: .8rem;
    margin-top: 5px;
    cursor: pointer;
    color: #cfe1ff;
}

.reset-default:hover{
    color: #9bdef8;
}

.option-container{
    display: flex;
    align-items: center;
    gap: 1em;
}

.hide-twitter-blue{
    position: relative;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
	-moz-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #32808a;
    border-radius: 5px;
    border: 1px solid #17356e;
}
.hide-twitter-blue:checked{
    background-color: #5ece68;
}

.hide-twitter-blue:checked::after {
    content: '\2714';
    color: green;
    font-size: 16px;
    position: absolute;
    left: 2px;
    bottom: 0px;
  }

.action-bt{
    margin-top: 5px;
    display: flex;
    gap: 5px;
}

.bt{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-align: center;
    border: none;
    display: flex;
    width: 100%;
    height: 25px;
}

.bt-save{
    cursor: pointer;
    background-color: #467e48;
}

.bt-save:hover{
    background-color: #5a9e5e;
}

.save-alert-message{
    text-align: center;
    font-size: .8rem;
    font-weight: 600;
}

.stay-on-twitter{
    font-size: 1rem;
}
  