*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

.content{
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #65a7fc, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #65a7fc, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border: solid 1px #ffffff;
    color: #21539c;
    width: 250px;
    padding: 1em;
}

.title_popup{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 10px;
}

.info-badge{
    background-color: #09204b;
    color: #ffffff;
    padding: 1em;
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.info-element{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-element p{
    font-size: .8rem;
}

.info-element .two-badges-info{
    display: flex;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    background-color: #2b6194;
    margin-top: 1em;
    border: 1px solid;
    border-radius: 10px;
    padding: 1em;
}

.badge-color-container{
    overflow: hidden;
    border-radius: 10px;
    display: flex;
}

.badge-color-container .bg-badge{
    padding: 10px;
}

.badge-color-container .bg-badge:nth-child(1){
    background-color:  #192734;
}

.badge-color-container .bg-badge:nth-child(2){
    background-color: #ffffff;
}

.change-badge-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#color-picker{
    cursor: pointer;
    width: 80px;
    height: 40px;
    outline: none;
    border-radius: 10px;
    background-color: none;
    border: none;
}

.pick-color-box{
    margin: 7px 0;
}

.action-bt{
    margin-top: 5px;
    display: flex;
    gap: 5px;
}

.bt{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-align: center;
    border: none;
    display: flex;
    width: 100%;
    height: 25px;
}

.bt-save{
    cursor: pointer;
    background-color: #467e48;
}

.bt-save:hover{
    background-color: #5a9e5e;
}


  